
@-ms-viewport{width:device-width;}

/* 240 + 320px */

@media screen and (min-width:240px) and (max-width:360px) {
    #header, #topnav, #container, #footer{max-width:95%; margin:0 auto;}

    #topnav ul{display:none;}

    #header #hgroup{display:block; width:100%; float:none; margin:0 0 15px 0; padding:0;}

    #header, #footer{text-align:center;}
    #footer p{float:none; line-height:1.6em;}
    #footer p:first-child{margin-bottom:8px;}
}

/* 480px */

@media screen and (min-width:361px) and (max-width:600px) {
    #header, #topnav, #container, #footer{max-width:95%; margin:0 auto;}

    #topnav ul{display:none;}

    #footer p{float:none;}
    #footer p:first-child{margin-bottom:8px;}
}

/* 768px */

@media screen and (min-width:601px) and (max-width:800px) {
    #header, #topnav, #container, #footer{max-width:95%; margin:0 auto;}
}

/* 960px */

@media screen and (min-width:960px) {
    #header, #topnav, #container, #footer{max-width:960px; margin:0 auto;}
}

/* Hide The Jquery Generated Navigation Form from 601px upwards */

@media screen and (min-width:601px) and (max-width:1920px) {
    #topnav form{display:none;}
}